@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fuzzy+Bubbles:wght@400;700&display=swap');

@font-face { 
  font-family: "Schwifty";
  src: url('@/assets/fonts/get-schwifty.ttf') format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fuzzy Bubbles', sans-serif;
}



